  .container {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
  }

  .box {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .clicked{

  }
  
  .close{
    background-color: grey;
  }

  .on{
    background-color: green;
  }

  .off{
    background-color: black;
  }