:root{
--success:#4caf50;
--danger:#f44336;
--info:#2196f3;
--warning:#ff9800;

--success-bg:rgba(76, 175, 80, 0.1);
--danger-bg:rgba(244, 67, 54, 0.1);
--info-bg:rgba(233, 150, 243, 0.1);
}


.toastWrapper{
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 999;
}

.toastContainer{
    border-radius: 5px;
    position: relative;
    background: white;
    overflow: hidden;

    animation: slideIn .35s ease forwards;
    transition: transform .3s ease, opacity .3s ease;
}

.toastContainer.remove{
    animation: slideOut .35s ease forwards;
}

@keyframes slideIn{
    from{
        opacity: 0;
        transform: translateX(120%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut{
    from{
        opacity: 1;
        transform: translateX(0);
    }
    to{
        opacity: 0;
        transform: translateX(120%);
    }
}

.toastContainer[data-position="left-top"]{
    left:0;
}

.toastContainer[data-position="right-top"]{
   right:0;
}

.toastContainer[data-position="left-bottom"]{
    left:0;
    bottom:0;
}

.toastContainer[data-position="right-bottom"]{
    right:0;
    bottom:0;
}

.toastContainer[data-type="success"]{
    border: 1px solid var(--success);
}

.toastContainer[data-type="danger"]{
    border: 1px solid var(--danger);
}

.toastContainer[data-type="alert"]{
    border: 1px solid var(--danger);
}

.toastContainer[data-type="info"]{
    border: 1px solid var(--info);
}

.toastContainer[data-type="warning"]{
    border: 1px solid var(--warning);
}

.toast{
    width:25vw;
    position: relative;
    display: flex;
    padding: 10px;
}

.closeOf{
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.contentOf{
    display: flex;
    align-items: center;
    gap:1vw
}

.details{
    display: flex;
    align-items: start;
    flex-direction: column;
    font-size: 12px;
}

.progressOf{
    height: 3px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: progressBar 3s linear forwards;
}

.toastContainer:hover .progressOf{
    animation-play-state: paused;
}

.toastContainer[data-type="success"] .progressOf{
    background-color: var(--success);
}

.toastContainer[data-type="danger"] .progressOf,
.toastContainer[data-type="alert"] .progressOf{
    background-color: var(--danger);
}

.toastContainer[data-type="info"] .progressOf{
    background-color: var(--info);
}

.toastContainer[data-type="warning"] .progressOf{
    background-color: var(--warning);
}

@keyframes progressBar{
    from{
        width: 100%;
    }
    to{
        width: 0%;
    }
}